<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>ProjBar</string>
	<key>CFBundleDisplayName</key>
	<string>ProjBar</string>
	<key>CFBundleIdentifier</key>
	<string>com.projbar.app</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleExecutable</key>
	<string>ProjBar</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSAppleEventsUsageDescription</key>
	<string>ProjBar, aktif projeyi gösterebilmek ve projeler arasında geçiş yapabilmek için Terminal sekmelerini okur/seçer.</string>
</dict>
</plist>
